.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px #0c0c0c8f
}

.button-user {
  background-color: transparent;
  border: none;
  position: absolute;
  left: calc(100vw - 8.9em);
  top: 17.5px;
}

.button-users:hover {
  cursor: pointer;
  background-color: transparent;
}

.button-theme {
  background-color: transparent;
  border: none;
  position: absolute;
  left: calc(100vw - 13.2em);
  top: 19px;
}

.button-users {
  background-color: transparent;
  border: none;
  position: absolute;
  left: calc(100vw - 13em);
  top: 12.5px;
  .users-icon {
    font-size: 1.8em;
    color: #202020;
    cursor: pointer;
  }
  
  .users-icon:hover{
    color: #3a3a3a;
    cursor: pointer;
  }
  
}

.user-group {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  left: calc(100% - 16em);
}

.user-icon {
  font-size: 1.8em;
  cursor: pointer;
}

.user-icon:hover{
  color: #3a3a3a;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 2em;
  height: 2em;
  border-radius: 2px;
  background-color: transparent;
  gap: 0.40em;
  position: absolute;
  margin-top: 11px;
  left: calc(100% - 4em);
  border: none;
  cursor: pointer;
  .open {
    background-color: black;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    transform-origin: left;
  }
  .open:nth-child(2) {
    width: 70%;
    margin-left: 9.5px;
    height: 1px;
  }

  &:hover .open:first-child {
    transform: rotate(44deg);
    width: 80%;
  }
  
  &:hover .open:nth-child(2) {
    opacity: 0;
    height: 3.1px;
    line-height: 0;
  }
  
  &:hover .open:last-child {
    transform: rotate(-45deg);
    width: 80%;
  }

  .close {
    height: 2px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    transform-origin: left;
  }

  .close:first-child {
    transform: rotate(44deg);
    width: 80%;
  }
  
  .close:nth-child(2) {
    opacity: 0;
    height: 3.1px;
    line-height: 0;
  }
  
  .close:last-child {
    transform: rotate(-43deg);
    width: 80%;
  }
}

.sidebar-items{
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #313131;
  cursor: pointer;
  padding: 12px;
  background-color: #fcfcfc;
  border-radius: 4px;

}

.elements{
  margin-top: 30px;
}

.sidebar-items:hover{
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  background-color: #35abfa6e;
  padding: auto;
  border-radius: 4px;
  transition: all 0.5s;
  box-shadow: 0 0 5px 0 #35abfa6e;
}

@media (max-width: 575px) {
  .navbar { 
    width: 150vw;
  }
  .logo {
    display: flex;
    margin-right: calc(100% - 5em);
  }
  .button-theme {
    left: calc(150vw - 13.2em);
  }
  .button-user {
    left: calc(150vw - 8.9em);
  }
  .button-users {
    left: calc(150vw - 13em);
  }
  .menu {
    left: calc(150% - 4em);
  }
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #2b2c3d;
    box-shadow: 0 0 5px #0c0c0c8f;
  }
  .sidebar-items {
    background-color: #1f1f1f;
    color: #ffffff;
  }
  .sidebar-items:hover {
    background-color: #35abfa6e;
    color: #ffffff;
  }
}