body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.mantine-Drawer-root .mantine-Drawer-drawer::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 5px!important;
  border-radius: 15px 0 0 15px!important;
}

.mantine-Drawer-root .mantine-Drawer-drawer::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background-color: #ffffff!important;
  border-radius: 15px 0 0 15px!important;
}

.mantine-Drawer-root .mantine-Drawer-drawer::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: rgba(#000000, 0.27)!important;
  border-radius: 15px!important;
}

.mantine-Drawer-root .mantine-Drawer-drawer {
  overflow: auto;
}

.btn-rifa {
  margin-top: 15px;
  width: 300px
}

@media (max-width: 991px) {
  .btn-rifa {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (prefers-color-scheme: 'light') {
  body {
    background-color: #eef5f9!important;
  }
}