body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #1d1e30 !important;
}

.mantine-Drawer-root .mantine-Drawer-drawer::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 5px!important;
  border-radius: 15px 0 0 15px!important;
}

.mantine-Drawer-root .mantine-Drawer-drawer::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background-color: transparent!important;
  border-radius: 15px 0 0 15px!important;
}

.mantine-Drawer-root .mantine-Drawer-drawer::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: rgba(#000000, 0.27)!important;
  border-radius: 15px!important;
}

.mantine-Drawer-root .mantine-Drawer-drawer {
  overflow: auto;
}

.ticket-sold {
  &::before {
    position: absolute;
    border-color: transparent red transparent transparent;
    border-style: solid;
    border-width: 0 15px 16.5px 2px;
    content: "";
    height: 0;
    width: 0;
    top: 0px;
    left: 36px;
    transform: rotate(41deg);
  }
  &::after {
    border-color: transparent red transparent transparent;
    border-style: solid;
    border-width: 0 15px 16.5px 2px;
    content: "";
    height: 0;
    transform: rotate(-139deg);
    position: absolute;
    width: 0;
    right: 36px;
    top: 0.45px;
  }
}

select {
  width: 100%;
  height: 40px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #444;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.hide {
  visibility: hidden;
}

.ticket {
  transition: all 0.3s ease-in-out;
  &:hover {
    scale: 1.09;
    background-color: rgba(100, 100, 255, 0.7);
  }
}

select option {
  padding: 10px;
  margin: 0;
  flex: 1;
}

select option:hover {
  background-color: #ddd;
}

select option:checked {
  background-color: #0080ff;
  color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateX(50px);
}

.btn-rifa {
  margin-top: 0;
  width: 200px
}

.search-riferos {
  margin-bottom: 15px;
  margin-top: -10px;
  width: 390px
}

.kbd {
  cursor: pointer;
  user-select: none;
  &:hover {
    scale: 1.03;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.avatar-div {
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    animation: fadein .5s linear;
  }
}

.mantine-Spoiler-control {
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  cursor: pointer;
  border: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: transparent;
  text-align: center;
  color: #d5d7e0;
  margin-bottom: 10px;
  -webkit-text-decoration: none;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  border-radius: 4px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #1971c2;
  color: #fff;
}

.mantine-Spoiler-root {
  display: flex;
  flex-wrap: wrap-reverse;
}


.mantine-Spoiler-content {
  width: 100%;
}

.card-link {
  color: #1971c2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    background-color: #1A1B1E;
  }
}